/*
    CSS for Login component
 */
body{
   background-color: #5b7381;
}
#container{
    /*center div in middle of page, regardless of size*/
    position: absolute;
    top: 50%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);

    /*Colors and Borders*/
    background-color: #daf1fa;
    padding: 20px;
    border-radius: 25px;
}

label{
    margin-left:20px;
}

.input-item{
    /*Align all input boxes*/
    display: flex;
    align-items: center;
    margin-left: 50px;
    justify-content: space-between;
}

#btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 110px;
    margin-top: 5px;
    padding: 2px;
}


