<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>
    <div id="root"></div>
    <!-- Load React -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <!-- Load components -->
    <script type="module" src="../static/js/index.js"></script>

  </body>
</html>

<!---
    <script type="text/jsx" src="../static/js/App.js"></script>
    <script type="text/jsx" src="../static/js/Login.js"></script>
<div id="root"></div>
    <div><p>login</p></div>
--->